// Left Sidebar Design
.profile-card {
  background: var(--white-color);
  border-radius: 5px;
  border: 1px solid #eee;

  .profile-area {
    img {
      height: 100px;
      width: 100%;
      object-fit: cover;
      border-radius: 5px 5px 0 0;
    }

    .profile-photo {
      display: flex;
      justify-content: center;
      margin-top: -42px;
      img {
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #fff;
      }
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      gap: 6px;
      h2 {
        font-size: 18px;
        text-align: center;
        font-weight: 500;
      }

      p {
        text-align: center;
        font-size: 12px;
        width: 85%;
        color: var(--dark-grey);
        line-height: 1.4em;
      }
    }
  }

  .impression-area {
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 18px 12px;

    .prf-view {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
          font-size: 13px;
          color: var(--dark-grey);
          font-weight: 500;
        }
      }
    }

    .pst-imp {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
          font-size: 13px;
          color: var(--dark-grey);
          font-weight: 500;
        }
      }
    }
  }

  .premium-ad {
    padding: 18px 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-bottom: 1px solid #eee;

    p {
      font-size: 12px;
      font-weight: 400;
      color: var(--dark-grey);
    }

    .box-ad {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 8px;

      svg {
        margin-top: -6px;
        fill: #e7a33e;
      }

      h4 {
        font-size: 14px;
        font-weight: 500;
        color: var(--secondary-color);
      }
    }
  }

  .badge-area {
    padding: 10px 12px;
    transition: 0.3s;
    a {
      .box-item {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 6px;

        svg {
          font-size: 22px;
          margin-top: -6px;
          color: var(--dark-grey);
        }
        h4 {
          font-size: 14px;
          font-weight: 500;
          color: var(--secondary-color);
        }
      }
    }

    &:hover {
      background: #eee;
    }
  }
}

//Timeline Post Design
.timeline-post {
  background: var(--white-color);
  padding: 18px 12px 0;
  border-radius: 10px;
  border: 1px solid #eee;
  .prof-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
    .post-button {
      display: flex;
      justify-content: start;
      width: 90%;
      border: 1px solid var(--dark-grey);
      padding: 14px 16px;
      border-radius: 50px;
      background: transparent;
      color: var(--dark-grey);
      font-size: 14px;
      font-weight: 500;
      transition: 0.3s ease-in-out;

      &:hover {
        background: #ebebeb;
      }
    }
  }

  .event-icon-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .event-one {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 10px;
      padding: 15px;
      transition: 0.3s ease-in-out;

      &:hover {
        background: #ebebeb;
        border-radius: 10px;
      }

      svg {
        font-size: 20px;
        font-weight: 600;
        color: var(--primary-color);
      }

      h4 {
        margin: 0;
        font-size: 14px;
        color: var(--dark-grey);
        font-weight: 600;
      }
    }

    .event-two {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 10px;
      padding: 15px;
      transition: 0.3s ease-in-out;

      &:hover {
        background: #ebebeb;
        border-radius: 10px;
      }

      svg {
        font-size: 20px;
        font-weight: 600;
        color: var(--link-color);
      }

      h4 {
        margin: 0;
        font-size: 14px;
        color: var(--dark-grey);
        font-weight: 600;
      }
    }

    .event-three {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 10px;
      padding: 15px;
      transition: 0.3s ease-in-out;

      &:hover {
        background: #ebebeb;
        border-radius: 10px;
      }

      svg {
        font-size: 20px;
        font-weight: 600;
        color: #e06847;
      }

      h4 {
        margin: 0;
        font-size: 14px;
        color: var(--dark-grey);
        font-weight: 600;
      }
    }
  }
}

.sort-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;

  .border-line {
    height: 1px;
    width: 82%;
    background: rgb(140 140 140 / 20%);
  }

  .sort-item {
    ul {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 5px;
      li {
        p {
          font-size: 13px;
          color: var(--dark-grey);
        }

        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.post-content-card {
  background: var(--white-color);
  padding: 18px 12px 0;
  border-radius: 10px;
  border: 1px solid #eee;

  .post-profile {
    display: flex;
    justify-content: space-between;
    align-items: start;
    .display-content {
      display: flex;
      flex-direction: column;
      .prf-head {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 10px;
        .prf-image {
          img {
            height: 60px;
            width: 60px;
            border-radius: 50%;
          }
        }

        .prf-content {
          h2 {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.3em;
            color: var(--secondary-color);
          }

          p {
            font-size: 13px;
            color: var(--dark-grey);
            line-height: 1.4em;
          }
        }
      }

      .time-stamp {
        margin-top: -5px;
        ul {
          display: flex;
          gap: 3px;
          margin-left: 70px;
          li {
            font-size: 12px;
            color: var(--dark-grey);

            svg {
            }
          }
        }
      }
    }

    .post-feature {
      &:hover .feature-content {
        opacity: 1;
      }
      .feature-icon {
        a {
          font-size: 20px;
          color: var(--secondary-color);
          font-weight: 600;
        }
      }

      .feature-content {
        opacity: 0;
        transition: 0.5s ease-in-out;

        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;

          li {
            font-size: 13px;
            color: var(--dark-grey);
            line-height: 1.3em;
            cursor: pointer;

            &:hover {
              color: var(--dark-grey);
            }
          }
        }
      }
    }
  }

  .post-body {
    padding: 12px 0 35px;
    border-bottom: 1px solid #eee;
    p {
      padding-bottom: 20px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3em;
      color: var(--secondary-color);
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .post-react {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    .like {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 6px;

      svg {
        font-size: 22px;
      }
    }
  }
}

// Right Sidebar
.right-bar {
  .follow-card {
    padding: 18px 12px;
    background: var(--white-color);
    border-radius: 5px;
    border: 1px solid #eee;

    .add-to-feed {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-size: 16px;
        color: var(--secondary-color);
        font-weight: 500;
        line-height: 1.3em;
      }

      a {
        svg {
          margin-top: -6px;
          fill: var(--dark-grey);
        }
      }
    }

    .do-follow {
      .follow-item {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap: 8px;
        padding: 10px 0;
        .follow-image {
          img {
            height: 45px;
            width: 45px;
            border-radius: 50%;
          }
        }
        .follow-content {
          a {
            h2 {
              font-size: 14px;
              color: var(--secondary-color);
              line-height: 1.3em;
            }
            p {
              font-size: 10px;
              color: var(--dark-grey);
            }
          }

          .follow-button {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 3px;
            padding: 6px 15px;
            border: 1px solid #000;
            border-radius: 50px;
            margin-top: 5px;
            background: transparent;

            svg {
              color: var(--secondary-color);
              font-size: 16px;
            }

            .follow-me {
              font-size: 16px;
            }
          }
        }
      }
    }

    .recomendation {
      a {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;
        color: var(--secondary-color);
        padding: 5px 10px;
        border-radius: 5px;

        &:hover {
          background: #eee;
        }
        h2 {
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }

  .who-is-hiring {
    margin-top: 10px;
    border: 1px solid #eee;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  .linked-extra-features {
    padding: 20px 0;
    ul {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0px 10px;
      li {
        a {
          font-size: 12px;
          color: var(--dark-grey);

          &:hover {
            color: var(--primary-color);
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer-label {
    display: flex;
    gap: 0 10px;
    justify-content: center;
    p {
      font-size: 12px;
      color: var(--dark-grey);
    }
  }
}

.posting-profile {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding-bottom: 20px;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }

  .prof-cont {
    h4 {
      font-size: 22px;
      color: var(--secondary-color);
    }

    p {
      font-size: 14px;
      color: var(--dark-grey);
    }
  }
}

.input-fields-area {
  padding: 20px 0;

  button {
    border-radius: 50px;
  }
}
